.terrain-tile {
  position: absolute;
  pointer-events: none;
}

.terrain-sprite {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  display: block;
}
