/* Game Viewport Container - Full window */
.game-viewport-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #000; /* Black background for letterboxing */
}

/* Letterbox/Pillarbox Background */
.viewport-letterbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 0;
}

/* Scaled Game Content */
.game-viewport-content {
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
  image-rendering: pixelated; /* Crisp pixel art rendering */
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  z-index: 1;
}

/* Ensure all child elements respect the viewport bounds */
.game-viewport-content > * {
  width: 100%;
  height: 100%;
}

/* Disable text selection for game UI */
.game-viewport-content {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* Hardware acceleration hints */
.game-viewport-content {
  transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
